{% extends 'taskapp/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'taskapp:task_uncompleted' %}">未完のみ表示</a>
    {% for task in tasks %}
        <div class="post">
          　<span style= "color:blue;">{{ task.pk }}</span></a>
            <div class="date">
                {{ task.limit_date }}
            </div>
            <p><a href="{% url 'taskapp:task_edit' pk=task.pk %}">{{ task.title }}</p>
            {% if task.is_completed %}
                <p>Completed</p>
            {% else %}
                <p>Waiting</p>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
