{% extends 'taskapp/base.html' %}

{% block content %}
<a href="{% url 'task_list' %}">全て表示</a>
    {% for task in tasks %}
        <div class="post">
          　<span style= "color:blue;">{{ task.pk }}</span></a>
            <div class="date">
                {{ task.limit_date }}
            </div>
            <p><a href="{% url 'task_edit' pk=task.pk %}">{{ task.title }}</p>
            {% if task.is_completed %}
                <p>Completed</p>
            {% else %}
                <p>Waiting</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
